{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<!-- задаем заголовок страницы -->
{% block title %}This is an page{% endblock %}
<!-- блок body -->
{% block content %}
{{ wtf.quick_form(form, method='post',enctype="multipart/form-data", action="net") }}
<!—проверяем, есть ли данные классификации -->
{% if neurodic %}
<!-- один из стандартных тегов html – заголовок второго уровня -->
<h2>Classes: </h2>
<!-- запускаем цикл прохода по словарю и отображаем ключ-значение -->
<!-- классифицированных файлов -->
{% for key, value in neurodic.items() %}
<h3>{{key}}: {{value}}</h3>
{% endfor %}
{% endif %}
<h2>Source image is here:</h2>
<!-- отображаем загруженное изображение с закругленными углами -->
<!-- если оно есть (после submit) -->
{% if image_name %}
<p>{{image_name}}
<p><img src={{image_name}} class="img-rounded" alt="Source Image" width=224 height=224 />
{% else %}
<p> There is no image yet </p>
{% endif %}

{% if hist %}
    <h2>Histograms:</h2>
    <div class="row g-2">  <!-- Smaller gap -->
        <!-- {% for name, hh in hist %}
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-5">
            <div class="text-center p-2 border rounded">
                <img src={{hh}} class="img-fluid rounded" alt="{{name}}" style="max-height: 224px;" />
            </div>
        </div>
        {% endfor %} -->
        {% for name, hh in hist %}
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mb-4">
            <div class="text-center">
                <img src="{{hh}}" class="img-fluid rounded" alt="{{name}}" style="max-height: 224px;">
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}
<h2>Result image is here:</h2>
{% if result_name %}
<p>{{result_name}}
<p><img src={{result_name}} class="img-rounded" alt="Result Image" width=224 height=224 />

{% if r_hist %}
    <h2>Histograms:</h2>
    <div class="row g-2">  
        {% for name, hh in r_hist %}
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mb-4">
            <div class="text-center">
                <img src="{{hh}}" class="img-fluid rounded" alt="{{name}}" style="max-height: 224px;">
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}

{% else %}
<p> There is no image yet </p>
{% endif %}


{% endblock %}
